main{
  
  padding:15% 10% 15% 10%;
  background-color: #303030;
  color: white;
  margin-bottom: 1.5em;
  margin-top: 0em;
  font-family: 'Varta', sans-serif;
  
}

form{
  background-color:#303030;
  color: white;
  
  
  
  
}
input[type=text]{
 background-color:white;
}

input[type=email]{
  background-color:white;
 }

 input[type=datetime-local]{
  background-color:white;
 }

input[type=password]{
  background-color:white;
 }
article p{
   
  color:white;
  text-align: justify;
  font-style: initial;
}

.contenedor{
  background-color:transparent black;
  padding: 4em 4em 4em 4em;

}
 
button[class=btn]
{
  display: flex;
  margin: 0.5em auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0.5em;
  background-color:black;
  border-color:#00BCD4;
  color:#fff;
  text-shadow: 0px 0px 1px #000;
  box-shadow: 1px 1px 5px #000;
  border-radius: 0.5em;
  text-align: center;
  max-width: 70%;
}